# Setup:

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import time

# Df1:

In [7]:
chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)

In [8]:
driver.maximize_window()

In [9]:
driver.get("https://www.olx.in/uttar-pradesh_g2001176/cars_c84?filter=first_owner_eq_1%2Cpetrol_eq_petrol")

In [10]:
for i in range(12):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)

In [11]:
# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])

In [12]:

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])

In [13]:
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])

In [14]:
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" " )[3])

In [20]:
#Fuel Type:    (manualCheck)
fuel=[]
for i in range(499):
    i="Patrol"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(499):
    i="First"
    owner.append(i)

In [16]:
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])

In [17]:
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])

In [21]:
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(fuel),
len(owner),
len(loc),
len(price))

499 499 499 499 499 499 499 499

In [22]:
df1=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})

In [23]:
df1

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Volkswagen,[Polo],2013,"90,758",Patrol,First,Kemri,"3,30,000"
1,Honda,[WRV],2020,"29,629",Patrol,First,Sector 18,"8,80,000"
2,Mercedes-Benz,[C-Class],2022,"1,000",Patrol,First,Lucknow Cantonment,"59,90,000"
3,Maruti,"[Suzuki, Swift]",2019,"40,000",Patrol,First,Kotwali Ganj,"5,10,000"
4,Maruti,"[Suzuki, Wagon-R]",2016,"90,000",Patrol,First,Syana Garh,"2,80,000"
...,...,...,...,...,...,...,...,...
494,Maruti,"[Suzuki, Alto-K10]",2012,"65,000",Patrol,First,Prit Nagar,"1,65,000"
495,Datsun,"[Redi, Go]",2019,"16,000",Patrol,First,Kamta,"2,48,000"
496,Maruti,"[Suzuki, Swift]",2021,40500.0,Patrol,First,Meerut Road Industrial Area Sector 21,"6,70,000"
497,Datsun,"[GO, Plus]",2017,45000.0,Patrol,First,Ghaziabad,"3,25,000"
498,Maruti,"[Suzuki, Swift, Dzire]",2014,"58,000",Patrol,First,Noida-Greater Noida Link Rd,"4,05,000"

In [24]:
driver.close()

# Df2:

In [25]:
chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)

In [26]:
driver.maximize_window()

In [27]:
driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_2%2Cpetrol_eq_petrol")

In [28]:
for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)

In [29]:
# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])

In [30]:

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])

In [31]:
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])

In [32]:
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" " )[3])

In [33]:
#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="Patrol"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="Second"
    owner.append(i)

In [34]:
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])

In [35]:
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])

In [36]:
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(fuel),
len(owner),
len(loc),
len(price))

440 440 440 440 440 440 440 440

In [37]:
df2=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})

In [38]:
df2

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Toyota,[Etios],2011,"70,000",Patrol,Second,Pnb Enclave,"2,30,000"
1,Ford,[Mustang],2016,"23,200",Patrol,Second,Anchal,"82,00,000"
2,Mercedes-Benz,[S-Class],2010,"36,000",Patrol,Second,Palam Vihar,"13,50,000"
3,Maruti,"[Suzuki, Alto-K10]",2016,"70,000",Patrol,Second,Wali,"2,60,000"
4,Maruti,"[Suzuki, Wagon-R-1-0]",2016,"65,000",Patrol,Second,Harshnagar,"3,20,000"
...,...,...,...,...,...,...,...,...
435,Maruti,"[Suzuki, 800]",2009,"75,000",Patrol,Second,Anuradhapuram,"1,75,000"
436,Maruti,"[Suzuki, Wagon-R-1-0]",2009,"55,000",Patrol,Second,Powai,"1,60,000"
437,Maruti,"[Suzuki, Wagon-R-1-0]",2009,"60,000",Patrol,Second,Bemathang,"1,51,000"
438,Volkswagen,[Polo],2014,"76,000",Patrol,Second,Abi Guzar,"2,65,000"
439,Toyota,[Etios],2015,72675.0,Patrol,Second,Sutarwadi,"4,65,000"

In [39]:
driver.close()

# Df3:

In [49]:
chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)

In [50]:
driver.maximize_window()

In [51]:
driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_3%2Cpetrol_eq_petrol")

In [52]:
for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)

In [53]:
# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])

In [54]:

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])

In [55]:
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])

In [56]:
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" " )[3])

In [57]:
#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="Patrol"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="Third"
    owner.append(i)

In [58]:
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])

In [59]:
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])

In [60]:
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(fuel),
len(owner),
len(loc),
len(price))

440 440 440 440 440 440 440 440

In [61]:
df3=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})

In [62]:
df3

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Maruti,"[Suzuki, Alto, K10]",2011,77360.0,Patrol,Third,Devinagar,"1,95,000"
1,Mitsubishi,[Outlander],2008,"100,000",Patrol,Third,Vijaya Nagar,"4,25,000"
2,Maruti,"[Suzuki, Alto, K10]",2011,77364.0,Patrol,Third,Devinagar,"1,90,000"
3,Maruti,"[Suzuki, Wagon-R]",2011,"70,000",Patrol,Third,Sudama Nagar,"2,55,000"
4,Hyundai,[Eon],2018,"75,000",Patrol,Third,Sanjay Nagar,"2,00,000"
...,...,...,...,...,...,...,...,...
435,Maruti,"[Suzuki, Swift-Dzire]",2012,"80,000",Patrol,Third,Vakhar Bhag,"3,25,000"
436,Maruti,"[Suzuki, Alto]",2006,"87,000",Patrol,Third,Punjai,"1,40,000"
437,Maruti,"[Suzuki, Alto]",2009,"72,000",Patrol,Third,Sanganur,"1,54,500"
438,Maruti,"[Suzuki, Swift]",2008,"73,148",Patrol,Third,Vaibhav Nagar,"1,25,000"
439,Hyundai,[Verna],2013,"80,000",Patrol,Third,Banamalipur,"3,00,000"

In [63]:
driver.close()

In [66]:
df01=pd.concat([df1,df2,df3], ignore_index=True)

In [67]:
df01

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Volkswagen,[Polo],2013,"90,758",Patrol,First,Kemri,"3,30,000"
1,Honda,[WRV],2020,"29,629",Patrol,First,Sector 18,"8,80,000"
2,Mercedes-Benz,[C-Class],2022,"1,000",Patrol,First,Lucknow Cantonment,"59,90,000"
3,Maruti,"[Suzuki, Swift]",2019,"40,000",Patrol,First,Kotwali Ganj,"5,10,000"
4,Maruti,"[Suzuki, Wagon-R]",2016,"90,000",Patrol,First,Syana Garh,"2,80,000"
...,...,...,...,...,...,...,...,...
1374,Maruti,"[Suzuki, Swift-Dzire]",2012,"80,000",Patrol,Third,Vakhar Bhag,"3,25,000"
1375,Maruti,"[Suzuki, Alto]",2006,"87,000",Patrol,Third,Punjai,"1,40,000"
1376,Maruti,"[Suzuki, Alto]",2009,"72,000",Patrol,Third,Sanganur,"1,54,500"
1377,Maruti,"[Suzuki, Swift]",2008,"73,148",Patrol,Third,Vaibhav Nagar,"1,25,000"
1378,Hyundai,[Verna],2013,"80,000",Patrol,Third,Banamalipur,"3,00,000"

In [69]:
df01.to_csv("df01")