# Set up:

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import time

# df7:

In [2]:
chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)



driver.maximize_window()

driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_1%2Cpetrol_eq_cng")


for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)


# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])
    
    

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])
    
    
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])
    
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" ")[3:4])
    
    
    
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])  


    
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])
    
    
    
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(loc),
len(price))

440 440 440 440 440 440

In [3]:
#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="CNG"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="First"
    owner.append(i)
    
print(len(fuel),len(owner))

440 440

In [4]:
df7=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})
df7

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Maruti,"[Suzuki, Alto, 800]",2012,[52000.0],CNG,First,New Rajdhani Enclave,"2,39,999"
1,Maruti,"[Suzuki, Wagon-R-1-0]",2017,"[98,000]",CNG,First,Godoli Naka,"4,80,000"
2,Hyundai,[Aura],2021,"[16,000]",CNG,First,Borivali West,"7,35,000"
3,Maruti,"[Suzuki, Swift-Dzire-Tour]",2017,"[250,000]",CNG,First,Indirapuram,"3,60,000"
4,Hyundai,"[Grand, i10]",2017,[68000.0],CNG,First,Greater Kailash 2,"5,50,000"
...,...,...,...,...,...,...,...,...
435,Nissan,[370z],2017,[50009.0],CNG,First,gondal road,"2,45,000"
436,Hyundai,"[Grand, i10, Nios]",2022,"[14,000]",CNG,First,Powai,"7,50,000"
437,Maruti,"[Suzuki, Alto-800]",2016,"[55,112]",CNG,First,Pune Vidyapith,"2,99,000"
438,Honda,[City],2009,"[73,000]",CNG,First,Preet Vihar,"2,45,000"
439,Hyundai,[i10],2013,[66000.0],CNG,First,Pitampura,"2,70,000"

In [5]:
driver.close()

# df8:

In [6]:
chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)



driver.maximize_window()

driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_2%2Cpetrol_eq_cng")


for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)


# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])
    
    

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])
    
    
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])
    
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" ")[3:4])
    
    
    
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])  


    
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])
    
    
    
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(loc),
len(price))

440 440 440 440 440 440

In [7]:
#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="CNG"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="Sceond"
    owner.append(i)
    
print(len(fuel),len(owner))

440 440

In [8]:
df8=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})
df8

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Hyundai,[i10],2013,"[69,000]",CNG,Sceond,Dwarka,"3,35,000"
1,Hyundai,[i10],2011,[71200.0],CNG,Sceond,Vadsar,"2,75,000"
2,Honda,[City],2010,[75000.0],CNG,Sceond,Shahalam,"3,25,000"
3,Maruti,"[Suzuki, Swift-Dzire]",2020,"[40,000]",CNG,Sceond,Nai Duniya,"6,50,000"
4,Maruti,"[Suzuki, Wagon-R]",2008,"[50,000]",CNG,Sceond,Ushma Nagar,"98,500"
...,...,...,...,...,...,...,...,...
435,Honda,[Amaze],2017,[83000.0],CNG,Sceond,132 Feet Ring Road,"4,35,000"
436,Maruti,"[Suzuki, Alto]",2005,[149577.0],CNG,Sceond,Sheriff Colony Extn,"1,25,000"
437,Maruti,"[Suzuki, Ertiga]",2013,"[82,000]",CNG,Sceond,Dahisar East,"5,85,000"
438,Honda,"[City, ZX]",2017,[71333.0],CNG,Sceond,Bhimrad,"8,99,999"
439,Maruti,"[Suzuki, Alto-800]",2010,"[153,000]",CNG,Sceond,Godhra GIDC,"1,65,000"

In [9]:
driver.close()

# df9:

In [14]:
chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)



driver.maximize_window()

driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_3%2Cpetrol_eq_cng")


for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)


# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])
    
    

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])
    
    
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])
    
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" ")[3:4])
    
    
    
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])  


    
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])
    
    
    
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(loc),
len(price))

440 440 440 440 440 440

In [15]:
#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="CNG"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="Third"
    owner.append(i)
    
print(len(fuel),len(owner))

440 440

In [16]:
df9=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})
df9

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Maruti,"[Suzuki, Wagon-R]",2015,"[95,500]",CNG,Third,Sector 26,"3,25,000"
1,Maruti,"[Suzuki, Estilo]",2009,[90000.0],CNG,Third,Balitha,"1,65,000"
2,Honda,[City],2009,"[76,500]",CNG,Third,Karelibaugh,"2,65,000"
3,Maruti,"[Suzuki, Ertiga]",2014,"[70,000]",CNG,Third,Vayusenabad,"4,40,000"
4,Chevrolet,[Beat],2010,"[120,000]",CNG,Third,Gulmohre Colony,"85,000"
...,...,...,...,...,...,...,...,...
435,Hyundai,"[Grand, i10, Prime]",2009,"[58,000]",CNG,Third,Adajan,"2,75,000"
436,Renault,[Fluence],2011,"[64,400]",CNG,Third,Varacha,"2,99,000"
437,Honda,[Accord],2008,"[100,000]",CNG,Third,Balkum Pada,"2,75,000"
438,Mahindra,"[KUV, 100]",2016,"[137,851]",CNG,Third,Vishal Nagar,"3,80,000"
439,Maruti,"[Suzuki, 1000]",1995,"[120,000]",CNG,Third,Perantharkadu,"67,000"

In [17]:
driver.close()

In [18]:
df03=pd.concat([df7,df8,df9])
df03

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Maruti,"[Suzuki, Alto, 800]",2012,[52000.0],CNG,First,New Rajdhani Enclave,"2,39,999"
1,Maruti,"[Suzuki, Wagon-R-1-0]",2017,"[98,000]",CNG,First,Godoli Naka,"4,80,000"
2,Hyundai,[Aura],2021,"[16,000]",CNG,First,Borivali West,"7,35,000"
3,Maruti,"[Suzuki, Swift-Dzire-Tour]",2017,"[250,000]",CNG,First,Indirapuram,"3,60,000"
4,Hyundai,"[Grand, i10]",2017,[68000.0],CNG,First,Greater Kailash 2,"5,50,000"
...,...,...,...,...,...,...,...,...
435,Hyundai,"[Grand, i10, Prime]",2009,"[58,000]",CNG,Third,Adajan,"2,75,000"
436,Renault,[Fluence],2011,"[64,400]",CNG,Third,Varacha,"2,99,000"
437,Honda,[Accord],2008,"[100,000]",CNG,Third,Balkum Pada,"2,75,000"
438,Mahindra,"[KUV, 100]",2016,"[137,851]",CNG,Third,Vishal Nagar,"3,80,000"
439,Maruti,"[Suzuki, 1000]",1995,"[120,000]",CNG,Third,Perantharkadu,"67,000"

In [19]:
df03.to_csv("df03")