# Let's make a large dataframe using screped small detasets:

In [1]:
import pandas as pd
cars_df=pd.concat(map(pd.read_csv, ['df01', 'df02','df03','df04']), ignore_index=True)
cars_df

,Unnamed: 0,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,0,Volkswagen,['Polo'],2013.0,"90,758",Patrol,First,Kemri,"3,30,000"
1,1,Honda,['WRV'],2020.0,"29,629",Patrol,First,Sector 18,"8,80,000"
2,2,Mercedes-Benz,['C-Class'],2022.0,"1,000",Patrol,First,Lucknow Cantonment,"59,90,000"
3,3,Maruti,"['Suzuki', 'Swift']",2019.0,"40,000",Patrol,First,Kotwali Ganj,"5,10,000"
4,4,Maruti,"['Suzuki', 'Wagon-R']",2016.0,"90,000",Patrol,First,Syana Garh,"2,80,000"
...,...,...,...,...,...,...,...,...,...
5328,435,Hyundai,['Santro'],2001.0,"['100,000']",CNG,Third,Chatradahalli,"70,000"
5329,436,Maruti,"['Suzuki', 'Swift']",2006.0,"['112,000']",CNG,Third,Kashipur,"1,20,000"
5330,437,Maruti,"['Suzuki', 'Zen-Estilo']",2007.0,"['72,000']",CNG,Third,Sainagar,"1,40,000"
5331,438,Hyundai,"['Santro', 'Xing']",2009.0,"['69,000']",CNG,Third,Chinthadripet,"1,85,000"
5332,439,Maruti,"['Suzuki', 'Omni']",2009.0,"['100,000']",CNG,Third,Ambedkar Nagar,"1,10,000"

In [2]:
cars_df.to_csv("cars_df")